__pycache__/
.python-version
env/
venv/
.env
log/
log-*/
*.p
*.png
plots/
data/
runs/
results/
logs/
artifacts/hf_cache/
artifacts/label_encoder_cache*/
*.sw?
orca/
core
deepsnap-experimental/

.python-version
# ckpt/

# tuning_runs/
# for now just ignore all tuning trial checkpoints to avoid much space issue over git
tuning_runs/*/trial-*/
*.md
\scripts
!scripts/
!scripts/*.py
scripts/convert_hetionet_json_to_pkl.py
